@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 400px;) {
    h1 {
      margin-bottom:5rem;
    }
  }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

img {
  pointer-events: none;
  user-select: none;
}

.container4 {
  background-color: #26272b;
}

.wrapper {
  position: relative;
}

::selection {
  background-color: #fff;
  color: #000000;
}



nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(-45deg, #1a191d, #1a191d, #1a191d);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

ul:hover li {
  opacity: .5;
}

ul li:hover {
  opacity: 1;
}

.section1 {
  width: 100%;
}

.html-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-image {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width:420px) {
  nav {
    justify-content: space-between !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .code-image img {
    width: 350px !important;
  }

  .button {
    padding-top: 20rem !important;
  }

  p {
    margin-bottom: 0px !important;
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo h4 a {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
    opacity: .5;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    max-width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
  color: rgb(255,255,255);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
    opacity: 90%;
}

.bar-under::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #ADD8E6;
    transition: width .3s;
}

.bar-under:hover::after {
    width: 100%;
    transition: width .3s;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0rem;
}

@media screen and (max-width:425px) {
  .my-container h1 {
      font-size: 3rem;
      margin-bottom: 0;
  }
}

@media screen and (max-width:1024px) {
    .nav-links {
        width:80%;
    }
}

@media screen and (min-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:400px) {
    iframe {
      width: 30rem;
    }
}

@media screen and (max-width:350px) {
  iframe {
    width: 20rem;
  }
}

@media screen and (max-width:768px) {

    .hidden-on-mobile {
      display: none;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: linear-gradient(-45deg, #ADD8E6  0%, #33353d 99%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
        border: 2px solid #3B3F30;
    }
    
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .image img {
        width: 25rem !important;
        height: 25rem !important;
        position: relative;
    }

    .image {
        width: 25rem !important;
        height: 25rem !important;
        box-sizing: border-box;
        border: 10px white solid;
    }
}

@media screen and (max-width:320px) {
    .image img {
        width: 20rem !important; 
        height: 20rem !important;
        border-radius: 20rem !important;
    }

    .image {
        width: 20rem !important;
        height: 20rem !important;
        box-sizing: border-box;
        border: 10px white solid;
    }
}

@media screen and (max-width:768px) {
  .nav-active {
      transform: translateX(0%);
      position: fixed;
      z-index: 90;
  }

  .inactive {
    position: fixed;
    width: 100%;
    z-index: 99;
    margin-bottom: 5rem;
  }
  
  .my-container h1 {
    margin-top: 5rem;
  }

  .code-image img {
    width: 600px;
  }
}

@media screen and (max-width:650px) {
  .code-image img {
    width: 550px;
  }
}

@media screen and (max-width:590px) {
  .code-image img {
    width: 500px;
  }
}

@media screen and (max-width:540px) {
  .code-image img {
    width: 470px;
  }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

footer {
  margin-top: 25rem;
}

.my-container {
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
    justify-content: center;
}

.container2 {
  background-color: #26272b;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.box img {
  width: 20rem;
}

.row.stackrow {
  width: 45vw;
}

.col-sm.style:nth-child(2) {
  border-width: 3px 3px 3px 3px;
}

.col-sm.style {
  border-style: solid;
  border-width: 3px 1.5px 3px 3px;
  border-color: #a3a3a3;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
  padding: 40px 30px;
}

.col-sm.style h2 {
  font-size: 3rem;
  position: relative;
}

.col-sm.style h2::after {
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 13.5%;
    z-index: -1;
    height: 0.2em;
    width: 80%;
    left: 10%;
    background: #306998;
}

.col-sm.style p {
  font-size: 1.5rem;
}

.container2 h1 {
  color: #fff;
  font-size: 4vw;
  font-family: "Poppins",Sans-serif;
  text-transform: none;
  letter-spacing: 2.2px;
  font-weight: 600;
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  filter: drop-shadow(8px 7px 6px #5A5A5A);
  position: relative;
  z-index: 3;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media screen and (max-width:1100px) {
  .stackrow {
    width: auto !important;
  }
}

.container3 h1 {
  font-size: 4vw;
  
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.container {
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
    justify-content: center;
}

.copyright-container {
    margin-top: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.code-image {
  opacity: 0.1;
  position: relative;
  bottom: 150px;
}

h1 {
    color: #fff;
    font-size: 10vw;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    font-weight: 600;
    text-shadow: 1px 3px 11px rgba(0,0,0,.3);
    margin-bottom: 2rem;
    filter: drop-shadow(8px 7px 6px #5A5A5A);
    position: relative;
    z-index: 3;
}

h2 {
  color: #fff;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: 500;
  position: relative;
  z-index: 3;
}

.image img {
    width: 35rem;
    height: 35rem;
}

.image {
  position: static;
}

p {
    font-size: 2rem;
    color: #fff;
    line-height: 5rem;
    margin-bottom: 5rem;
}

.btn {
    bottom: 50px;
    position: relative;
    display: inline-block;
    width: 277px;
    font-size: 1em;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.25em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.btn span{
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.image {
    width: 35rem;
    height: 35rem;
	  box-sizing: border-box;
	  border: 3px white solid;
	  border-radius: 50%;
	  overflow: hidden;
	  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	  transform: translatey(0px);
	  animation: float 6s ease-in-out infinite;
    margin-top: 10rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
}

.container3 {
  background-color: #1a191d;
}

.section2 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.section2 h1 {
  margin-bottom: 8rem;
  font-size: max(4vw, 4rem);
}

.section3 h1 {
  font-size: max(4vw, 4rem);
}

.my-container {
	width: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 15rem;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:17px;
  text-transform:uppercase;
  margin-top:5px;
  margin-bottom:20px;
  letter-spacing:2px
}
.site-footer p
{
    font-size: 15px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin: 0 auto;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

.right-style {
  margin: 0 auto;
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Just hover over it */
.iphone-body{
  position:relative;
  display:flex;
  justify-content:center;
  margin:0 auto;
  width:280px;
  height:540px; 
  background: black;
  border-radius:35px;
  box-shadow: 0 0 15px inset rgba(0,0,0,.2),0 40px 100px rgba(0,0,0,0.4);
  transition: 2s;
  }

.iphone-body:before{
  content:'';
  position:relative;
  top:15px;
  left:1px;
  width:calc(100% - 30px);
  height:calc(100% - 30px);
  background:#26272b;
  border-radius:25px;
  box-shadow:0 0 20px inset rgba(0,0,0,.2);
  
}

.iphone-body:after{
  content:'';
  position:absolute;
  top:15px;
  width:140px;
  height:14px;
  background:black;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  
}

.iphone-baseline:after{
  content:'';
  position:absolute;
  width:140px;
  height:3px;
  background:#fff;
  top:510px;
  left:72px;
  border-radius:30px;
  
}

.iphone-body:hover:before{
  content:'';
  cursor:pointer;
  background:url("images/btouchphone.png");
  background-size: 250px 540px;
  position: relative;
  right: 100px;
}

.phone-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20rem;
  margin: 0 auto;
}

.phone2:hover:before {
  content:'';
  cursor:pointer;
  background:url("images/mysitephone.png");
  background-size: 250px 540px;
  position: relative;
  right: 100px;
}

.section4 h4 {
  position: absolute; 
  color: #fff; 
  font-family: 'Caramel', cursive;
  font-size: 5rem;
  left: 38.2%;
  bottom: 30%;
}

.my-container {
  min-height: 100vh;
}